<!DOCTYPE html>
<html lang="en">

<%- include('./head.ejs'); %>

<body>

  <%- include('./header.ejs'); %>

  <%- include('./hero-section.ejs'); %>

  <main id="main">

    <!-- ======= Problem Section ======= -->
    <section id="problem" class="problem sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Problem</h2>
          <p>Quam sed id excepturi ccusantium dolorem ut quis dolores nisi llum nostrum enim velit qui ut et autem uia reprehenderit sunt deleniti</p>
        </div>

        <div class="problem-isotope" data-problem-filter="*" data-problem-layout="masonry" data-problem-sort="original-order" data-aos="fade-up" data-aos-delay="100">

          <div>
            <ul class="problem-filters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-product">Product</li>
              <li data-filter=".filter-branding">Branding</li>
              <li data-filter=".filter-books">Books</li>
            </ul><!-- End Problem Filters -->
          </div>

          <div class="row gy-4 problem-container">

            <div class="col-xl-4 col-md-6 problem-item filter-app">
              <div class="problem-wrap">
                <a href="/assets/img/problem/app-1.jpg" data-gallery="problem-gallery-app" class="glightbox"><img src="/assets/img/problem/app-1.jpg" class="img-fluid" alt=""></a>
                <div class="problem-info">
                  <h4><a href="problem-details.html" title="More Details">App 1</a></h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                </div>
              </div>
            </div><!-- End Problem Item -->

            <div class="col-xl-4 col-md-6 problem-item filter-product">
              <div class="problem-wrap">
                <a href="/assets/img/problem/product-1.jpg" data-gallery="problem-gallery-app" class="glightbox"><img src="/assets/img/problem/product-1.jpg" class="img-fluid" alt=""></a>
                <div class="problem-info">
                  <h4><a href="problem-details.html" title="More Details">Product 1</a></h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                </div>
              </div>
            </div><!-- End Problem Item -->

            <div class="col-xl-4 col-md-6 problem-item filter-branding">
              <div class="problem-wrap">
                <a href="/assets/img/problem/branding-1.jpg" data-gallery="problem-gallery-app" class="glightbox"><img src="/assets/img/problem/branding-1.jpg" class="img-fluid" alt=""></a>
                <div class="problem-info">
                  <h4><a href="problem-details.html" title="More Details">Branding 1</a></h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                </div>
              </div>
            </div><!-- End Problem Item -->

            <div class="col-xl-4 col-md-6 problem-item filter-books">
              <div class="problem-wrap">
                <a href="/assets/img/problem/books-1.jpg" data-gallery="problem-gallery-app" class="glightbox"><img src="/assets/img/problem/books-1.jpg" class="img-fluid" alt=""></a>
                <div class="problem-info">
                  <h4><a href="problem-details.html" title="More Details">Books 1</a></h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                </div>
              </div>
            </div><!-- End Problem Item -->

            <div class="col-xl-4 col-md-6 problem-item filter-app">
              <div class="problem-wrap">
                <a href="/assets/img/problem/app-2.jpg" data-gallery="problem-gallery-app" class="glightbox"><img src="/assets/img/problem/app-2.jpg" class="img-fluid" alt=""></a>
                <div class="problem-info">
                  <h4><a href="problem-details.html" title="More Details">App 2</a></h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                </div>
              </div>
            </div><!-- End Problem Item -->

            <div class="col-xl-4 col-md-6 problem-item filter-product">
              <div class="problem-wrap">
                <a href="/assets/img/problem/product-2.jpg" data-gallery="problem-gallery-app" class="glightbox"><img src="/assets/img/problem/product-2.jpg" class="img-fluid" alt=""></a>
                <div class="problem-info">
                  <h4><a href="problem-details.html" title="More Details">Product 2</a></h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                </div>
              </div>
            </div><!-- End Problem Item -->

            <div class="col-xl-4 col-md-6 problem-item filter-branding">
              <div class="problem-wrap">
                <a href="/assets/img/problem/branding-2.jpg" data-gallery="problem-gallery-app" class="glightbox"><img src="/assets/img/problem/branding-2.jpg" class="img-fluid" alt=""></a>
                <div class="problem-info">
                  <h4><a href="problem-details.html" title="More Details">Branding 2</a></h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                </div>
              </div>
            </div><!-- End Problem Item -->

            <div class="col-xl-4 col-md-6 problem-item filter-books">
              <div class="problem-wrap">
                <a href="/assets/img/problem/books-2.jpg" data-gallery="problem-gallery-app" class="glightbox"><img src="/assets/img/problem/books-2.jpg" class="img-fluid" alt=""></a>
                <div class="problem-info">
                  <h4><a href="problem-details.html" title="More Details">Books 2</a></h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                </div>
              </div>
            </div><!-- End Problem Item -->

            <div class="col-xl-4 col-md-6 problem-item filter-app">
              <div class="problem-wrap">
                <a href="/assets/img/problem/app-3.jpg" data-gallery="problem-gallery-app" class="glightbox"><img src="/assets/img/problem/app-3.jpg" class="img-fluid" alt=""></a>
                <div class="problem-info">
                  <h4><a href="problem-details.html" title="More Details">App 3</a></h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                </div>
              </div>
            </div><!-- End Problem Item -->

            <div class="col-xl-4 col-md-6 problem-item filter-product">
              <div class="problem-wrap">
                <a href="/assets/img/problem/product-3.jpg" data-gallery="problem-gallery-app" class="glightbox"><img src="/assets/img/problem/product-3.jpg" class="img-fluid" alt=""></a>
                <div class="problem-info">
                  <h4><a href="problem-details.html" title="More Details">Product 3</a></h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                </div>
              </div>
            </div><!-- End Problem Item -->

            <div class="col-xl-4 col-md-6 problem-item filter-branding">
              <div class="problem-wrap">
                <a href="/assets/img/problem/branding-3.jpg" data-gallery="problem-gallery-app" class="glightbox"><img src="/assets/img/problem/branding-3.jpg" class="img-fluid" alt=""></a>
                <div class="problem-info">
                  <h4><a href="problem-details.html" title="More Details">Branding 3</a></h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                </div>
              </div>
            </div><!-- End Problem Item -->

            <div class="col-xl-4 col-md-6 problem-item filter-books">
              <div class="problem-wrap">
                <a href="/assets/img/problem/books-3.jpg" data-gallery="problem-gallery-app" class="glightbox"><img src="/assets/img/problem/books-3.jpg" class="img-fluid" alt=""></a>
                <div class="problem-info">
                  <h4><a href="problem-details.html" title="More Details">Books 3</a></h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                </div>
              </div>
            </div><!-- End Problem Item -->

          </div><!-- End Problem Container -->

        </div>

      </div>
    </section><!-- End Problem Section -->

    <%- include('./contact.ejs'); %>

  </main><!-- End #main -->

  <%- include('./footer.ejs'); %>

</body>

</html>